colorama
coverage>=7.10 # 7.10+ needed for [run] patch = subprocess in .coveragerc
pytest>=8.0
pytest-cov>=5.0
psutil
appdirs
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
